{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <section class="ui vertical very padded segment">
        <div class="ui container">
            <div class="ui stackable two column grid middle aligned">
                <div class="column">
                    <div class="ui teal label">Basic store</div>
                    <h1 class="ui header">Paprasta internetinė parduotuvė su Sylius</h1>
                    <p>
                        Paruoštas šablonas su aiškia pradžia: produktų katalogu, kategorijų kortelėmis
                        ir nuoroda į administravimo skydą.
                    </p>
                    <a href="{{ path('sylius_shop_product_index') }}" class="ui large primary button">
                        Peržiūrėti produktus
                    </a>
                    <a href="/admin" class="ui large basic button">Administravimas</a>
                </div>
                <div class="column">
                    <div class="ui raised segment">
                        <h3 class="ui header">Greitas startas</h3>
                        <ol class="ui list">
                            <li><code>cp compose.override.dist.yml compose.override.yml</code></li>
                            <li><code>make init</code></li>
                            <li>Atidarykite <code>http://localhost</code></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ui vertical segment">
        <div class="ui container">
            <h2 class="ui header">Populiarios kategorijos</h2>
            <div class="ui three stackable cards">
                <a class="card" href="{{ path('sylius_shop_product_index') }}">
                    <div class="content">
                        <div class="header">Drabužiai</div>
                        <div class="description">Kasdieniai ir proginiai modeliai.</div>
                    </div>
                </a>
                <a class="card" href="{{ path('sylius_shop_product_index') }}">
                    <div class="content">
                        <div class="header">Aksesuarai</div>
                        <div class="description">Papildomi stiliaus akcentai.</div>
                    </div>
                </a>
                <a class="card" href="{{ path('sylius_shop_product_index') }}">
                    <div class="content">
                        <div class="header">Dovanos</div>
                        <div class="description">Idėjos įvairioms progoms.</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
